

/* Table style */
table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #7a7a7a;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }

  .over-budget:active {
    font-family: serif; 
    color: #008000;
    animation: animate 1.5s linear infinite; 
  }
  @keyframes animate{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
  } 
